body {
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: #DFDFE2;        /* color of the tracking area */
  }

body::-webkit-scrollbar-thumb {
    background-color:#383638;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #383638;  /* creates padding around scroll thumb */
  }